<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Strona główna</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {background-color: #f4f4f4;}
        .btn-primary {  background-color:#B76E79;
                        border-color:#B76E79}
        .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
                background-color:#6D4248 !important;
                border-color:#6D4248 !important;
        }
        .btn-warning {
            color:white;
        }
    </style>
</head>
<div th:replace="~{layout :: navbar}"></div>
<body>
    <h1 class="text-center">Witaj na stronie głównej!</h1>
    <div class="d-flex justify-content-center align-items-center mb-4">
        <form th:action="@{/logout}" method="post" class="mx-1">
            <button type="submit" class="btn btn-warning btn-sm mt-auto">Wyloguj się</button>
        </form>
        <a th:href="@{/main}" class="mx-1 btn btn-secondary btn-sm mt-auto">Wszystkie ksiazki</a>
    </div>

    <div class="container mt-5">
        <h1 class="mb-4">Twoje zamówienia</h1>
        <div th:if="${orders.isEmpty()}">
            <p>Brak zamówień.</p>
        </div>
        <div class="order-list" th:if="${!orders.isEmpty()}">
            <div th:each="order : ${orders}" class="order-item mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${'Id zamówienia: ' + order.id}"></h5>
                        <!-- <p class="card-text" th:text="${'Użytkownik: ' + order.user.username}"></p> -->
                        <p class="card-text" th:text="${'Data: ' + #temporals.format(order.date.toInstant(), 'yyyy-MM-dd hh:mm:ss')}"></p>
                        <h6 class="card-subtitle mb-2 text-muted">Zamówione produkty:</h6>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Tytuł</th>
                                <th>Autor</th>
                                <th>Cena</th>
                                <th>Ilość</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${order.items}">
                                <td th:text="${item.book.title}"></td>
                                <td th:text="${item.book.author}"></td>
                                <td th:text="${item.book.price}"></td>
                                <td th:text="${item.quantity}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <p class="card-text mt-3">
                            <strong th:text="${'Status: ' + order.status}"></strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<div th:replace="~{layout :: footer}"></div>
</html>