<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Strona główna</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {background-color: #f4f4f4;}
        .btn-primary {  background-color:#B76E79;
                        border-color:#B76E79}
        .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
                background-color:#6D4248 !important;
                border-color:#6D4248 !important;
        }
    </style>
</head>
<div th:replace="~{layout :: navbar}"></div>
<body>
    <h1 class="text-center">Witaj na stronie głównej!</h1>
    <div class="d-flex justify-content-center align-items-center mb-4">
        <form th:action="@{/logout}" method="post" class="mx-1">
            <button type="submit" class="btn btn-secondary btn-sm mt-auto">Wyloguj się</button>
        </form>
        <a th:href="@{/main}" class="mx-1 btn btn-secondary btn-sm mt-auto">Wszystkie ksiazki</a>
    </div>

    <h1>Twoje zamówienia</h1>
    <div th:if="${orders.isEmpty()}">
        <p>Brak zamówień.</p>
    </div>
    <div class="order-list" th:if="${!orders.isEmpty()}">
        <div th:each="order: ${orders}" class="order-item">
            <div th:text="${'Id zamówienia: ' + order.id}"></div>
            <!-- <div th:text="${'Użytkownik: ' + order.user.username}"></div> -->
            <div th:text="${'Data: ' + #temporals.format(order.date.toInstant(), 'yyyy-MM-dd hh:mm:ss')}"></div>
            <p>Zamówione produkty:</p>
            <div th:each="item: ${order.items}" class="order-item-product">
                <div th:text="${item.book.title + ', ilość: ' + item.quantity }"></div>
            </div>
            <div th:text="${'Status: ' + order.status}"></div>
        </div>
    </div>

</body>
<div th:replace="~{layout :: footer}"></div>
</html>