<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <style>
        body {background-color: #f4f4f4;}
        .btn-primary {  background-color:#B76E79;
                        border-color:#B76E79}
        .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
                background-color:#6D4248 !important;
                border-color:#6D4248 !important;
        }
    </style>
</head>
<body>
<h1>Order Details</h1>
<p>Order ID: <span
        th:text="${order.id}"></span></p>
<p>Date: <span
        th:text="${order.date}"></span></p>
<p>Status: <span
        th:text="${order.status}"></span></p>
<h2>Items</h2>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${order.items}">
        <td th:text="${item.book.title}"></td>
        <td th:text="${item.book.author}"></td>
        <td th:text="${item.book.price}"></td>
        <td th:text="${item.quantity}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>